<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
     <div class="card w-50 m-auto mt-5">
      <div class="card-header">
        Add new Employee
      </div>
      <div class="card-body">
        <form name="register" method="post" action="/insertuser/">
            {% csrf_token %}
          <div class="form-group mb-3">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" name="firstname" id="firstname"  placeholder="Enter first name">
          </div>
          <div class="form-group mb-3">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" name="lastname" id="lastname"  placeholder="Enter last name">
          </div>
          <div class="form-group mb-3">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone"  placeholder="Enter phone">
          </div>
          <input type="submit" name="reg" class="btn btn-primary"/>
        </form>
      </div>
    </div>
</body>
</html>